<?xml version="1.0" ?>
<model>
    <name>EnvDC_1stfloor</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Kelen Teixeira Vivaldini</name>
        <email>vivaldini@ufscar.br</email>
    </author>
    <description>1st floor - Department of Computer/UFSCar</description>
</model>
